<div class="container">
        <script>
            function deleteMe(courseCode){
                var idStr = "." + courseCode;
                $(idStr).remove();
                $.ajax({
                    url: '/api/course',
                    type: 'DELETE',
                    data: { courseCode: courseCode }
                });
            }

            function addNew(){
                var newCourse = $('#newCourse').val();
                $('#newCourse').val('');
                $('.addErrorText').html('<img style="width: 20px;" src="http://sampsonresume.com/labs/pIkfp.gif">');
                $.ajax({
                    url: '/api/course',
                    type: 'POST',
                    data: { courseCode: newCourse },
                    success: function(a,b,c){
                        console.log('Hi');
                        $('.addErrorText').text('Success!');
                        $('ul').append('<li class=' + newCourse +
                            '>' + newCourse + '&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="deleteMe(' +
                            newCourse +')" class="addOrDelete">delete</span></li>');
                    },
                    error: function(a,b,c){
                        $('.addErrorText').text('Invalid Class! Either you are not in it, or it is already here!');
                    }
                });
            }

        </script>
        <img src="http://www.cs.umd.edu/Outreach/hsContest13/icons/TurtleCS.jpg" class="logo" />
        <div class="row">
            <h1>UMD CS Grade Notifier (Dashboard - {{email}})</h1>
        </div>
        <form method="POST">
            <div class="row">
                <div class="three columns">
                    <input type="text" value="{{directory_id}}" readonly>
                </div>
                <div class="two columns">
                    umd username
                </div>
            </div>
            <div class="row">
                <div class="three columns">
                    <input id="umdpass" name="newUMDPass" type="password" placeholder="update me">
                </div>
                <div class="two columns">
                    umd password
                </div>
                <div class="seven columns">

                {{#if validCredentials}}
                    Our last check indicates that you have valid credentials in. No need to update unless you manually changed your password.
                {{else}}
                    <strong>YOU MUST UPDATE THIS NOW!</strong>
                {{/if}}
                </div>

            </div>
            <div class="row">
                <div class="three columns">
                    {{#if phone_number}}
                        <input id="phoneNumber" name="newPhone" type="text" value="{{phone_number}}">
                    {{else}}
                        <input id="phoneNumber" name="newPhone" type="text" placeholder="enter number">
                    {{/if}}
                </div>
                <div class="two columns">
                    phone number
                </div>
            </div>
            <div class="row">
            current classes
            </div>
            <div class="row">
                <ul class="classList">
                    {{#each classes}}
                        <li class="{{this}}">{{this}}&nbsp;&nbsp;&nbsp;&nbsp;
                            <span onclick="deleteMe({{this}})" class="addOrDelete">delete</span></li>
                    {{/each}}
                </ul>
            </div>
            <div class="row">
                <div class="two columns">
                    <input type="text" id="newCourse" placeholder="new course">
                </div>
                <div class="one column">
                    <span class="addOrDelete" onclick="addNew()">add</span>
                </div>
                <div class="nine columns addErrorText">
                </div>
            </div>

            <div class="row">
                {{#if getsTexts}}
                    <input id="getsTexts" name="getsTexts" type="checkbox" checked> get texts?
                {{else}}
                    <input id="getsTexts" name="getsTexts" type="checkbox"> get texts?
                {{/if}}
            </div>

            <div class="row">
                {{#if getsEmails}}
                    <input id="getsEmails" name="getsEmails" type="checkbox" checked> get emails?
                {{else}}
                    <input id="getsEmails" name="getsEmails" type="checkbox" > get emails?
                {{/if}}
            </div>
            <div class="row">
                <div class="two columns">
                    <button type="submit">save</button>
                </div>
            </form>

                <div class="offset-by-one two columns">
                    <form method="GET" action="/logout">
                    <button type="submit">logout</button>
                </form>
                </div>
            </div>




    </div>
