<div class="container">
        <script>
            function deleteMe(courseCode){
                var idStr = "." + courseCode;
                $(idStr).remove();
                $.ajax({
                    url: '/api/course',
                    type: 'DELETE',
                    data: { courseCode: courseCode }
                });
            }

            function addNew(){
                var newCourse = $('#newCourse').val();
                $('#newCourse').val('');
                $('.addErrorText').html('<img style="width: 20px;" src="http://sampsonresume.com/labs/pIkfp.gif">');
                $.ajax({
                    url: '/api/course',
                    type: 'POST',
                    data: { courseCode: newCourse },
                    success: function(a,b,c){
                        console.log('Hi');
                        $('.addErrorText').text('Success!');
                        $('ul').append('<li class=' + newCourse +
                            '>' + newCourse + '&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="deleteMe(' +
                            newCourse +')" class="addOrDelete">delete</span></li>');
                    },
                    error: function(a,b,c){
                        $('.addErrorText').text('Invalid Class! Either you are not in it, or it is already here!');
                    }
                });
            }

            function updateProf(){
                /* Need to add phone number and the two checkboxes */
                console.log("heuo");
                $.ajax({
                    url: '/profile',
                    type: 'POST',
                    data: {
                        newUMDPass: $('#umdpass').val(),
                        newPhone: $('#phoneNumber').val(),
                        getTexts: $('#getTexts').is(":checked"),
                        getEmails: $('#getEmails').is(":checked")
                    }
                });
            }
        </script>
        <img src="http://www.cs.umd.edu/Outreach/hsContest13/icons/TurtleCS.jpg" class="logo" />
        <div class="row">
            <h1>UMD CS Grade Notifier (Dashboard - {{email}})</h1>
        </div>
        <div class="row">
            <div class="three columns">
                <input type="text" value="{{directory_id}}" readonly>
            </div>
            <div class="two columns">
                umd username
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                <input id="umdpass" type="password" placeholder="update me!">
            </div>
            <div class="two columns">
                umd password
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                <input id="phoneNumber" type="text" value="{{phone_number}}">
            </div>
            <div class="two columns">
                phone number
            </div>
        </div>
        <div class="row">
        current classes
        </div>
        <div class="row">
            <ul class="classList">
                {{#each classes}}
                    <li class="{{this}}">{{this}}&nbsp;&nbsp;&nbsp;&nbsp;
                        <span onclick="deleteMe({{this}})" class="addOrDelete">delete</span></li>
                {{/each}}
            </ul>
        </div>
        <div class="row">
            <div class="two columns">
                <input type="text" id="newCourse" placeholder="new course">
            </div>
            <div class="one column">
                <span class="addOrDelete" onclick="addNew()">add</span>
            </div>
            <div class="nine columns addErrorText">
            </div>
        </div>

        <div class="row">
            <input id="getTexts" type="checkbox"> get texts?
        </div>
        <div class="row">
            <input id="getEmails" type="checkbox"> get emails?
        </div>
        <div class="row">
            <div class="two columns">
                <button onclick="updateProf()">save</button>
            </div>
        </div>




    </div>
