<div class="container">
  <script>
  function addAnimation(){
      $('.animation').html('<img style="width: 20px;" src="http://sampsonresume.com/labs/pIkfp.gif">');
  }
  </script>
  <img src="http://www.cs.umd.edu/Outreach/hsContest13/icons/TurtleCS.jpg" class="logo" />
  <div class="row">
      <div class="four columns">
          <h1>UMD CS Grade Notifier</h1>
          <form method="POST" onsubmit="addAnimation()">
              <div>
                  {{#if email}}
                  <input type="email" name="email" id="email" placeholder="email" value="{{email}}" autofocus>
                  {{else}}
                  <input type="email" name="email" id="email" placeholder="email" autofocus>
                  {{/if}}
              </div>
              <div>
                  <input type="password" name="password" id="password" placeholder="password">
              </div>
              <div>
                  {{#if directory_id}}
                  <input type="text" name="umdusername" id="umdusername" placeholder="umd username" value="{{directory_id}}" autofocus>
                  {{else}}
                  <input type="text" name="umdusername" id="umdusername" placeholder="umd username" autofocus>
                  {{/if}}
              </div>

              <div>
                  <input type="password" name="umdpass" id="umdpass" placeholder="umd password">
              </div>
              <div>
                  <button style="width: 25%" type="submit">signup</button>
              </div>
              <div>
                  <a href = "/login">already have an account?</a>
              </div>
          </form>
          </div>
      <div class="eight columns infoText">
         <p> Welcome to the <i>unofficial</i> Univeristy of Maryland Computer Science Grade Checker. If you are at this page, you probably already know that UMD's CS department posts grades on a separate server (grades.cs.umd.edu), and you never get automatically notified when this happens.</p>
         <p>So, use this! Our program will check up on your grades once every few minutes to see if there has been any change. If there is a change, you will get an <b>email</b> and <b>text</b>.</p>
         <p>Although this is for the University of Maryland, this is a <b>third-party application</b>. This means that you do have to provide us your UMD directory password, and we store this in our own database. We have done our best to secure and encrypt your information, as our data is stored as well and we want to be safe.</p>
         <p>If you are nervous about providing your password, please feel free to reach out to <a href="https://www.facebook.com/cameo7">Cameron</a>, <a href="https://www.facebook.com/parikh.i.m">Ishaan</a>, or <a href="https://www.facebook.com/viruslobster">Michael</a>, and they can reassure you. We hope that you decide to sign up! If we can show the CS department that enough students want a service like this, it can be properly integrated into the grades server in the future!</p>
      </div>
  </div>

  <div class = "row">
      <div>
          {{#if messages.success}}
          <div class="text-success">
              {{#each messages.success}}
          <div>{{msg}}</div>
              {{/each}}
          </div>
          {{/if}}
          {{#if messages.error}}
              <div class="text-danger">
                {{#each messages.error}}
                  <div>{{msg}}</div>
                {{/each}}
              </div>
          {{/if}}
      </div>
  </div>
